/*đặt phân vùng cho trình đơn (chiều cao, đường viền, khoảng cách và màu nền.*/
body{
    font-family: Arial;
}
#menu{
    height: 30px;
    padding:0;
    margin:0;
    background-color: #000000;
    border: 1px solid #CDCDCD;
}
#menu ul, #menu li{
    padding:0;
    margin:0;
}
/*Bây giờ, định nghĩa tiếp một bộ chọn riêng cho các phần tử trong danh sách:*/
#menu li{
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding:0;
}
/*Sau đó, chúng ta định nghĩa một bộ chọn dành cho các liên kết trong trình đơn, */
/*bộ chọn này sẽ cố định độ rộng của một mục chọn trong trình đơn, chiều cao, */
/*cách hiển thị và định dạng về văn bản của các liên kết trong trình đơn.*/
#menu li a{
    width:100px;
    height: 30px;
    display: block;
    text-decoration:none;
    text-align: center;
    line-height: 30px;
    background-color: black;
    color: white;
}

#menu ul ul li a{
    width: 200px;
    text-align: left;
    padding-left: 10px;
}
/*Tiếp theo, chúng ta bổ sung thêm một bộ chọn dành cho trường hợp khi các liên kết được con trỏ đưa qua, */
/*bộ chọn sẽ chuyển màu nền của liên kết sang màu đỏ khi xảy ra sự kiện này:*/
#menu li a:hover{
    background-color: red;
}
/*Sau đó, chúng ta thêm một bộ chọn dành cho các danh sách con (trình đơn con) */
/*để quy định về vị trí hiển thị của chúng so với mục chọn của trình đơn cha. Bộ chọn đó như sau:*/
#menu ul ul{
    position: absolute;
    top: 30px;
}
/*Bây giờ, chúng ta có thể thấy các mục chọn của trình đơn con đang hiển thị lên và đè lên nhau, */
/*chúng ta cần bổ sung thêm một mô tả với thuộc tính visibility cho bộ chọn #menu ul ul vừa được định nghĩa ở trên, khi đó bộ chọn này sẽ như sau:*/
#menu ul ul{
    left: 15px;
    visibility: hidden;
}
/*Cuối cùng, để các trình đơn bị ẩn sẽ hiển thị mỗi khi con trỏ được đưa qua mục chọn của trình đơn cha, */
/*chúng ta cần tạo thêm một bộ chọn nữa. Bộ chọn này được áp dụng cho các danh sách con (trình đơn con) */
/*mỗi khi mục chọn tương ứng ở trình đơn cha xảy ra sự kiện đưa con trỏ qua:*/
#menu ul li:hover ul{
    visibility: visible;
}

